@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TODO: Finalize the colours */
/* Source: https://www.color-hex.com/color-palette/100312 */

.tile {
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: calc(2rem - 8px);
  background-color: #3b3b3b;
  border: #222222 4px inset;
  transition: all 0.2s ease-in-out;
}

.tile.unknown, .tile.flag {
  background-color: #222222;
  border: #141414 4px outset;
  cursor: pointer;
}

.tile[data-count="8"] {
  color: #FF0000;
}
.tile[data-count="7"] {
  color: #FF3100;
}
.tile[data-count="6"] {
  color: #FF6200;
}
.tile[data-count="5"] {
  color: #FF9400;
}
.tile[data-count="4"] {
  color: #FFC500;
}
.tile[data-count="3"] {
  color: #FFFE00;
}
.tile[data-count="2"] {
  color: #D5FF00;
}
.tile[data-count="1"] {
  color: #A4FF00;
}

.tile[data-x="0"] {
  grid-column: 1;
}
.tile[data-x="1"] {
  grid-column: 2;
}
.tile[data-x="2"] {
  grid-column: 3;
}
.tile[data-x="3"] {
  grid-column: 4;
}
.tile[data-x="4"] {
  grid-column: 5;
}
.tile[data-x="5"] {
  grid-column: 6;
}
.tile[data-x="6"] {
  grid-column: 7;
}
.tile[data-x="7"] {
  grid-column: 8;
}

.tile[data-y="0"] {
  grid-row: 1;
}
.tile[data-y="1"] {
  grid-row: 2;
}
.tile[data-y="2"] {
  grid-row: 3;
}
.tile[data-y="3"] {
  grid-row: 4;
}
.tile[data-y="4"] {
  grid-row: 5;
}
.tile[data-y="5"] {
  grid-row: 6;
}
.tile[data-y="6"] {
  grid-row: 7;
}
.tile[data-y="7"] {
  grid-row: 8;
}

.section {
  display: grid;
  grid-template-rows: repeat(8, calc(2rem));
  grid-template-columns: repeat(8 /*attr(data-size, 0)*/, calc(2rem));

  border: #3b3b3b 4px solid;
  width: fit-content;
  height: fit-content;
}