@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* TODO: Finalize the colours */
/* Source: https://www.color-hex.com/color-palette/100312 */

.tile {
  text-align: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: calc(2rem - 8px);
  background-color: #3b3b3b;
  border: #222222 4px inset;
  transition: all 0.2s ease-in-out;
}

.tile.unknown {
  background-color: #222222;
  border: #141414 4px outset;
}

.tile[data-count="8"] {
  color: #FF0000;
}
.tile[data-count="7"] {
  color: #FF3100;
}
.tile[data-count="6"] {
  color: #FF6200;
}
.tile[data-count="5"] {
  color: #FF9400;
}
.tile[data-count="4"] {
  color: #FFC500;
}
.tile[data-count="3"] {
  color: #FFFE00;
}
.tile[data-count="2"] {
  color: #D5FF00;
}
.tile[data-count="1"] {
  color: #A4FF00;
}